hostname {{hostname}}
interface loopback150
 description *** Template loopback150 *** 
 ip address {{interfaces.loopback150.ipv4}} {{interfaces.loopback150.mask}}

interface loopback200
 description *** Template loopback200 *** 
 ip address {{interfaces.loopback200.ipv4}} {{interfaces.loopback200.mask}}